<div class="card mt-5" style="margin:auto;width: 600px;">
  <div class="card-body">
    <h5 class="card-title">Cadastro de Produto</h5>
    <div class="form-group">
      <label for="nomeprod">Nome do Produto</label>
      <input type="text" class="form-control" id="nomeprod" placeholder="Nome do Produto" [(ngModel)] = "produto.nome">
    </div>
    <div class="form-group">
      <label for="descprod">Descrição Produto</label>
      <textarea class="form-control" id="descprod" placeholder="Descrição do Produto" [(ngModel)] = "produto.descricao"> </textarea>
    </div>
    <div class="form-group">
      <label for="tamanhoprod">Tamanho</label>
      <input type="text" class="form-control" id="tamanhoprod" placeholder="Tamanho do Produto" [(ngModel)] = "produto.tamanho">
    </div>
    <div class="form-group">
      <label for="corprod">Cor</label>
      <input type="text" class="form-control" id="corprod" placeholder="Cor do Produto" [(ngModel)] = "produto.cor">
    </div>
    <button type="submit" class="btn btn-primary" (click)="cadastrarProduto()">Cadastrar</button>
  </div>
</div>